.calculater{
    height: 550px;
    width: 450px;
    background-color: rgb(15, 15, 15);
    margin: 100px;
    padding: 20px;

}
.output{
    height: 140px;
    width: 225px;
    margin-bottom:50px ;
    background-color: red;
}
.button{
    font-weight: bolder;
    font-size: xx-large;

}
button{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    margin-left: 45px;
}