@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*tag selecter*/
h2{color: rgb(52, 13, 226);}
/*id selecter #  */
#d{
  color: rgb(216, 8, 8);  
}
/*class selecter . */
.q{color: chartreuse;}
body{background-color: turquoise;}
header{background-color:  rebeccapurple;}
main{
  color: crimson;
}
footer{
  color: coral;
}
#pp{ font-family: 'Bebas Neue', cursive;;}