body{
    background: black;
    color: blanchedalmond;
}
div
{
    background: blanchedalmond;
    width: 100%;
    height: 300px;
    color: #070707;
    position: sticky ;
    top: 50px;
    left: 0px;
}